name: unit-test
on:
  pull_request:
    branches:
      - main
jobs:
  backend-unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Dev Container CLI
        uses: devcontainers/ci@v0.3
      - name: Start devcontainer
        run: devcontainer up --workspace-folder .
      - name: Get container ID
        run: echo "CONTAINER_ID=$(docker ps -q --filter name=backend)" >> $GITHUB_ENV
      - name: Run unit tests
        run: |
          devcontainer exec --container-id ${{ env.CONTAINER_ID }} --workspace-folder . coverage run --source=backend -m pytest -q
          devcontainer exec --container-id ${{ env.CONTAINER_ID }} --workspace-folder . coverage xml
          devcontainer exec --container-id ${{ env.CONTAINER_ID }} --workspace-folder . coverage report -m
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: coverage.xml
          fail_ci_if_error: true
          flags: unittests
          token: ${{ secrets.CODECOV_TOKEN }}
